.container {
  padding: 20px;
  max-width: 100%;
  margin: auto;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  justify-content: center;
}

.button {
  padding: 10px 18px;
  border: none;
  background-color: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.button:hover {
  background-color: #1d4ed8;
}

/* MOBILE */

@media (max-width: 600px) {
  .buttonGroup {
    flex-direction: column;
  }

  .button {
    width: 100%;
  }
}
